@charset "UTF-8";
$rem:20;
html,body{
		width:100%;
		height:100%;
		font-size: 20px;
	}
.container{
	max-width:640/$rem+rem;
	background: rgb(240,242,245);
}
.header{
	width:100%;
	height:44/$rem+rem;
	background:#FFF;
	border-bottom:1/$rem+rem solid #CCC;
	line-height:44/$rem+rem;
	position:relative;
	text-align: center;
	.header-user,
	.header-search,
	.header-home{
		width:20/$rem+rem;
		height:20/$rem+rem;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
	.header-user{
		background-image: url(../images/icon-login.png);
		
		position: absolute;
		top:50%;
		left:10/$rem+rem;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
	}
	.header-search{
		background-image: url(../images/search1.png);
		position: absolute;
		top:50%;
		right:40/$rem+rem;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
	}
	.header-home{
		background-image: url(../images/home.png);
		position: absolute;
		top:50%;
		right:10/$rem+rem;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
	}
	.header-logo{
		display:inline-block;
		position: relative;
		top:30%;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
	}
	.header-logo img{

		height:19/$rem+rem;
		
	}
}
.content{
	width:100%;
	.slide img{
		width:100%;
	}
	
	.miaosha{
		width:100%;
		height:177/$rem+rem;

		.cont-title{
			display:blcok;
			width:auto;
			height:33/$rem+rem;
			line-height: 33/$rem+rem;
			background-color: #FFF;
			font-size: 16/$rem+rem;
			padding: 0 5/$rem+rem;
			a{
				float:right;
				font-size: 14/$rem+rem;
				color:red;
			}
		}
		.miaosha-clock{
			
			display:inline-block;
			width:19/$rem+rem;
			height:19/$rem+rem;
			background-image: url(../images/title1.png);
			background-size:cover;
			transform:translateY(10%);
			-webkit-transform:translateY(10%);
		}
		
		.miaosha-clock+div{
			font-weight: 500;
			display:inline-block;
		}
		.miaosha-clock+div span{
			display:inline-block;

		}
		.miaosha-clock+div span:nth-child(1){
			margin-left:5/$rem+rem;
		}
		.miaosha-clock+div span:nth-child(2){
			font-size: 14/$rem+rem;
		}
		.seckill-timer{
			display:inline-block;
			span{
				color: #333;
			    font-size: 12/$rem+rem;
			    padding: 0 1/$rem+rem;
			    border-radius: 2/$rem+rem;
			    height: 16/$rem+rem;
			    line-height: 16/$rem+rem;
			}
			.seckill-timer-num{
			    font-size: 12/$rem+rem;
			    border: 1px solid #999;
			    padding: 0 4/$rem+rem;
			    border-radius: 2/$rem+rem;
			    height: 16/$rem+rem;
			    line-height: 16/$rem+rem;
			}
		}
		.seckill{
			height:144/$rem+rem;
			 .swiper-container02{
		        width: 100%;
		        height: 144/$rem+rem;
		        margin: 0 auto;
		    }
		    .swiper-container02{
				overflow: hidden;
			}
		    .swiper-slide {
		        text-align: center;
		        background: #fff;
		        
		        /* Center slide text vertically */
		        display: -webkit-box;
		        display: -ms-flexbox;
		        display: -webkit-flex;
		        display: flex;
		        -webkit-box-pack: center;
		        -ms-flex-pack: center;
		        -webkit-justify-content: center;
		        justify-content: center;
		        -webkit-box-align: center;
		        -ms-flex-align: center;
		        -webkit-align-items: center;
		        align-items: center;
		        img{
		        	display:block;
					width:88/$rem+rem;
					height:88/$rem+rem;
		        }
		        .red{
		        	color: #f23030;
		        	font-size: 14/$rem+rem;
		        	font-weight: 600;
		        }
		        .gray{
	        	    color: #999;
				    text-decoration: line-through;
				    font-size: 14/$rem+rem;
		        }
		    }
		}

	}
	/*秒杀 end*/
	/*tuijian start*/
	.tuijian{
		height:110/$rem+rem;
		.cont-title{
			display:blcok;
			width:auto;
			height:33/$rem+rem;
			line-height: 33/$rem+rem;
			font-size: 16/$rem+rem;
			padding: 0 5/$rem+rem;
			
		}
		.tuijian-icon{
			display:inline-block;
			width:19/$rem+rem;
			height:19/$rem+rem;
			background-image: url(../images/title2.png);
			background-size:cover;
			transform:translateY(10%);
			-webkit-transform:translateY(10%);
		}
		.tuijian-icon+div{
			font-weight: 500;
			display:inline-block;
		}
		.swiper-container03{
			overflow: hidden;
		}
		.swiper-container03 ul{
			width:100%;
		}
		.swiper-container03 ul li{
			width:24%;
			display:block;
			float:left;
			padding-left:3/$rem+rem;
			text-align: center;
		}
		.swiper-container03 ul li a{
			display:block;
			background-color: #FFF;
			margin-bottom:1/$rem+rem;;
			font-size:14/$rem+rem;
			padding:7/$rem+rem;
			color:#333;
		}
		.tuijian-yeshu{
			display:inline-block;
			float:right;
			font-size:14/$rem+rem;
		}
		.tuijian-yeshu .now-pages{
			color:red;
		}
	}
	/*tuijian end*/
	/*zhuanshu tuijian start*/
	.tuijian02{
		background: rgb(240,242,245);
		.cont-title{
			display:blcok;
			width:auto;
			height:33/$rem+rem;
			line-height: 33/$rem+rem;
			font-size: 14/$rem+rem;
			padding: 0 5/$rem+rem;
			text-align: center;
			color: #bfbfbf;
		}
		.tuijian-icon{
			display:inline-block;
			width:19/$rem+rem;
			height:19/$rem+rem;
			background-image: url(../images/icon-update.png);
			background-size:cover;
			transform:translateY(10%);
			-webkit-transform:translateY(10%);
		}
		.goods-show{
			background: rgb(240,242,245);
			width:auto;
			overflow: hidden;
			.goods-mod{
				display:block;
				float:left;
				width:50%;
				height:245/$rem+rem;
				
				margin-top:3/$rem+rem;
				margin-bottom:3/$rem+rem;
				
			}
			.goods-mod a{
				width:98%;
				margin:0 auto;
				display:block;
				background-color: #FFF;
			}
			.goods-mod .goods-img{
				width:100%;
			
			}
			.goods-mod .pro-name{
				    overflow: hidden;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				    font-size: 14/$rem+rem;
				    color:#3c3c3c;
				    padding: 0 2/$rem+rem;
			}
			.goods-mod .pro-price{
				    font-size: 16/$rem+rem;
				    color:red;
			}
			.goods-mod .pro-zi{
				    font-size: 12/$rem+rem;
				    color:#ccc;
			}
			.goods-mod .pro-zi span{
				margin-right:10/$rem+rem;
			}
		}
		
	}
	/*zhuanshu tuijian end*/


}
