.container{
	width:1600px;
	height:1728px;
	margin:0 auto;
	background-image:url("../image/bg.jpg");
}
html{
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
.header{
	width:100%;
	height:400px;
	overflow:hidden;
}
.header-text{
	width:490px;
	height:66px;
	margin:0 auto;
	margin-top:242px;
}
.header-text span{
	display:block;
	color:#880404;
}
.header-text span:nth-child(1){
	width:80px;
	float:left;
	font-size:16px;
}
.header-text span:nth-child(2){
	width:410px;
	float:right;
	font-size:14px;
	line-height:24px;
}
.con01{
	width:850px;
	height:345px;
	margin:0 auto;
	margin-top:40px;
}
.con01>h2{
	height:28px;
	overflow:hidden;
}
.con01>h2 span{
	display:block;
	float:left;
}
.con-h{
	font-size:20px;
	font-weight:bold;
	color:#a82828;
}
.hms{
	width:22px;
	height:27px;
	margin-right:4px;
	background:#525252;
	color:#FFF;
	font-size:24px;
	text-align: center;
	line-height:27px;
}
.con-hms{
	font-size:16px;
	color:#525252;
	margin-right:4px;
	line-height:42px;
}
.refresh{
	float:right;
	cursor:pointer;
}
.con01-row02{
	width:850px;
	height:218px;
	margin-top:18px;
}
.con01-row02>ul{
	width:850px;
	height:218px;
}
.con01-row02>ul li{
	width:138px;
	height:218px;
	float:left;
	margin-right:40px;
	text-align:center;
}

.con01-row02>ul li span{
	display:block;
	width:130px;
	height:184px;
	border:4px solid #7e0706;
}
.con01-re{
	position:relative;
}
.con01-re p{
	position:absolute;
	display:block;
	width:100%;
	height:28px;
	line-height:28px;
	font-size:12px;
	color:#FFF;
	top:156px;
	left:0px;
	background-color:rgba(0,0,0,0.8);
	font-family:"宋体";
}
.con01-row02>ul li:nth-child(5){
	margin:0;
}
.check-box{
	width:24px;
	height:13px;
	border:1px solid #A2A2A2;
	display:inline-block;
	margin-top:11px;
	background-color:#FFF;
	cursor:pointer;
}
.check-box img{
	margin:-3px 0px 2px 5px;
}
.con01-qiang{
	width:174px;
	height:58px;
	margin:28px auto;
	cursor:pointer;
}
.con02{
	width:850px;
	height:258px;
	margin:0 auto;
	margin-top:96px;
}
.con02 h2 span{
	font-size:24px;
	font-weight:bold;
	color:#A92727;
}
.line{
	width:100%;
	background-color:#CBCBCB;
	height:3px;
	margin-top:12px;
}
.con02-row2{
	width:100%;
	height:115px;
	margin-top:22px;
}
.con02-img{
	height:115px;
	width:100%;
}
.con02-img img{
	float:left;
	margin-right:24px;
}
.con02-row2 img:nth-child(4){
	margin:0;
}
.con02-qiang{
	width:174px;
	height:58px;
	margin:15px auto;
	cursor:pointer;
}
.con03{
	width:850px;
	height:258px;
	margin:0 auto;
	margin-top:96px;
}
.con03 h2 span{
	font-size:24px;
	font-weight:bold;
	color:#A92727;
}