.col-space-2{
	padding:5%;
}
.col-space-1{
	padding:2.5%;
}
.resetpadd{
	padding:0;
}
.container{
	padding:0;
}
/*title start*/
.title{
	color:#FFF;
	background-image:url('../images/news_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
}
.title .container{
	padding:0;
}
.title-content{
	padding-left:0;
}
/*title end*/
/* slide strat */
.slide .swiper-button-prev{
	background-color: rgba(0,0,0,0);
	font-size: 23px;
	left:30px;
}
.slide .swiper-button-next{
	background-color: rgba(0,0,0,0);
	font-size: 23px;
	right:30px;
}
.slide .swiper-slide{
	overflow: hidden;
}
.slide .swiper-slide img{
	margin-top:-15%;
}
/* slide end */
/*content start*/
.content .row{
	background-color: rgb(250,250,250);
	margin:5% 0;
}

.content .row span{
	overflow: hidden;
}
.content .row span img{
	width:120%;
	transition: all .5s ease;
}
.content .row:hover span img{
	transform: scale(1.3);
}
.cont-detail{
	overflow: hidden;
}
.content .row h3{
	font-size:18px;
	margin-top:40px;
	margin-bottom:15px;
}
.content .row p{
	font-size:14px;
	color:#888;
}
/*content star*/

@media screen and (min-width:1201px){
	.slide .container{
		width:1200px;
	}
}
@media screen and (min-width:993px) and (max-width:1200px){

}
@media screen and (min-width:769px) and (max-width:992px){

}
@media screen and (max-width:768px){
	.content .row h3{
		margin-top:10px;

	}
	.slide{
		padding-left:0;
		padding-right:0;
	}
}
@media screen and (max-width:640px){
	.content .row{
		padding:4px;
	}
	.content .row .col-xs-12{
		padding:4px;
	}
}