.col-space-2{
	padding:5%;
}
.col-space-1{
	padding:2.5%;
}
.resetpadd{
	padding:0;
}
/*title start*/
.title{
	color:#FFF;
	background-image:url('../images/news_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
}
.title-content{
	padding-left:0;
}
/*title end*/
/*content start*/
.content .row{
	padding:15px;
	background-color: rgb(238,238,238);
	margin:5% 0;
}
.content .row:hover{
	background-color: rgb(225,225,225);
}
.content .row span{
	overflow: hidden;
}
.content .row span img{
	width:128%;
}
.cont-detail{
	overflow: hidden;
}
.content .row h3{
	font-size:20px;
	margin-top:0;
	margin-bottom:15px;
}
.content .row p{
	font-size:16px;
	color:#888;
}
/*content star*/
/*content-show start*/
.content-show h3{
	font-size: 30px;
}
.content-show .cont-info{
	padding:15px 0;
	margin-bottom:20px;
}
.content-show .cont-info span{
	margin-right: 24px;
	font-size: 14px;
	color:#888;
}
.content-show .fanye p{
	display:inline-block;
	width:50%;
	float:left;
}
/*content-show end*/
@media screen and (min-width:1201px){

}
@media screen and (min-width:993px) and (max-width:1200px){

}
@media screen and (min-width:769px) and (max-width:992px){

}
@media screen and (max-width:768px){
	.content .row h3{
		margin-top:10px;

	}
	.content-show h3{
		font-size: 24px;
	}
}
@media screen and (max-width:640px){
	.content .row{
		padding:4px;
	}
	.content .row .col-xs-12{
		padding:4px;
	}
}